langchain == 0.3.27
langchain_ollama == 0.3.7
langgraph == 0.6.7
langchain-openai

fastapi
uvicorn
requests
beautifulsoup4
pymongo
huggingface-hub
transformers
streamlit
finnhub-python
python-dotenv
dotenv

# Research Compiler dependencies
reportlab==4.0.7
fpdf2==2.7.6
matplotlib==3.8.2
seaborn==0.13.0
torch
yfinance
pandas==2.2.3
numpy
scipy

